.post {
  overflow: auto;
  background: black;
  margin: 20px;
  position: relative;
}

.bandInfo {
  color: chocolate;
}

.col {
  float: left;
  vertical-align: top;
  min-height: 100px;
  padding: 10px;
}

.thumbnail img {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  width: auto;
  width: 220px;
  height: 150px;
}

.thumbnail {
  width: 100px;
  text-align: center;
}

.post-content {
  vertical-align: top;
  padding: 10px;
}


