select {
    width: 200px;
    height: 25px;
    font-size: 17px;
}

button[disabled=disabled], button:disabled {
    cursor: not-allowed;
}

button {
    cursor: pointer;
}

label {
    font-size: 20px;
}