section{
	text-align: center;
}

form {
	width: 300px;
    margin: 0 auto;
}

form,
form fieldset,
form legend,
form label,
form input,
form textarea,
form select {
	display: block;
	position: relative;
}

textarea {
	width: 300px;
}

form fieldset,
form legend {
	border: 1px solid rgb(248, 215, 107);
	background: rgb(248, 215, 107);
	opacity: 0.5;
	border-radius: 0.3rem;
	box-shadow: 0 0 1rem 0.1rem rgb(248, 215, 107);
}

form fieldset {
	padding: 2.5em 2em 2em 2em;
	position: relative;
}

form legend {
	width: 30%;
	padding: 0.5rem 1rem;
	left: -1px;
	top: -1.4rem;
	position: absolute;
}

form label {
	font-weight: bold;
}


.field .input {
	display: flex;
	position: relative;
	align-items: center;
}

.field .input:after {
	display: block;
	content: '';
}


.field .input input {
	border: none;
	flex: 1 1 auto;
	padding: 0.8rem;
	outline: none;
	background: transparent;
	z-index: 2;
	order: 2;
	color: chocolate;
}

.field .input .fas {
	z-index: 2;
	position: relative;
	padding: 0 0 0 0.8rem;
	font-size: 0.9em;
	order: 1;
}

.field .input input+.actions {
	display: block;
	background: black;
	opacity: 0.5;
	border: 1px solid chocolate;
	border-radius: 0.3rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.field .input input:focus+.actions {
	border-color: black;
}

form textarea {
	border-radius: 0.5rem;
	padding: 0.8rem;
}

form textarea:focus {
	outline: none;
	border-color: chocolate;
}

.description {
	width: 17rem;
	height: 10vh;
	padding: 2rem;
	overflow: auto;
}

#loginButton{
	background-color: black;
	color: chocolate;
	cursor: pointer;
}

button {
	cursor: pointer;
}

button[disabled=disabled], button:disabled {
    cursor: not-allowed;
}

.error {
	color: darkred;
}
	