<article class="post">
  <div class="post-content">
    <div class="bandInfo">
      <h3><a  [routerLink]="[ '/profile/user', application['user'] ]">{{application['username']}}:</a></h3>
    </div>
    <div class="bandInfo">
        {{application['date'] | date: 'EEEE, MMMM d, y'}}
    </div>
    <div class="bandInfo">
      {{application['content']}}
    </div>
    <div class="bandInfo">
      Instruments: {{application['instruments'] | join: ', '}}
    </div>
    <div class="bandInfo">
      {{application['status']}}
    </div>
    <div class="details">
      <div class="controls" *ngIf="application['status']=='Pending'">
        <ul>
          <li class="action"><a (click)="approve(application['_id'])" class="button">Approve</a></li>
          <li class="action"><a (click)="disapprove(application['_id'])" class="button">Disapprove</a></li>
        </ul>
      </div>
    </div>
  </div>
</article>
