img {
    width: 50%;
    margin: 10pt;
}

#adminBtn {
    background-color: black;
    color: chocolate;
}

#adminBtn:hover {
    color: white
}

.member {
    color: black;
}

a {
    cursor: pointer
}

a:hover {
    color: white
}
