<section>
    <div class="form">
      <form #form="ngForm" (ngSubmit)="editArticle()" *ngIf="article">
        <p class="field">
          <label for="username" id="">Title</label>
          <span class="input">
            <input type="text" name="title" placeholder="Name" [(ngModel)]="article['title']" required ngModel />
            <span class="actions"></span>
          </span>
        </p>
        <p class="error" *ngIf="form.controls.title?.touched && form.controls.title?.errors?.required">This field
          is required.</p>
        <p class="field">
          <label for="description">Content</label>
          <span class="input">
            <textarea name="content" placeholder="Content" [(ngModel)]="article['content']" required ngModel></textarea>
            <span class="actions"></span>
          </span>
        </p>
        <p class="error" *ngIf="form.controls.content?.touched && form.controls.content.errors?.required">This field
          is required.</p>
        <p class="field">
          <label for="imageUrl">Image Url</label>
          <span class="input">
            <input type="text" name="imageUrl" placeholder="Image Url" [(ngModel)]="article['imageUrl']"  ngModel/>
            <span class="actions"></span>
          </span>
        </p>
        <button class="button" [disabled]="form.invalid" type="submit">Save</button>
      </form>
    </div>
  </section>
